<div class="row">
  <aside class="col-md-4">
    <%= render 'user_info' %>
  </aside>

  <div class="col-md-8">
    <h3>Followers (<%= @follower_relationships.size %>)</h3>

    <% if @follower_relationships.any? %>
      <ol class="followers">
        <% @follower_relationships.each do |f| %>
          <%= render 'relationships/follower', follower: f.follower %>
        <% end %>
      </ol>
    <% end %>
  </div>
</div>
