<div class="row">
  <aside class="col-md-4">
    <%= render 'user_info' %>
  </aside>

  <div class="col-md-8">
    <h3>Followings (<%= @following_relationships.size %>)</h3>

    <% if @following_relationships.any? %>
      <ol class="followings">
        <% @following_relationships.each do |f| %>
          <%= render 'relationships/following', followed: f.followed %>
        <% end %>
      </ol>
    <% end %>
  </div>
</div>
