<div class="row">
  <aside class="col-md-4">
    <%= render 'user_info' %>
  </aside>

  <div class="col-md-8">
    <h3>Followers (<%= @follower_users.size %>)</h3>

    <% if @follower_users.any? %>
      <ol class="followers">
        <%= render @follower_users %>
      </ol>
    <% end %>
  </div>
</div>
