<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    Location
  </div>

  <div class="panel-body">
    <%= @user.location %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    Profile
  </div>

  <div class="panel-body">
    <%= @user.profile %>
  </div>
</div>
